{{> header}}

<h1>{{title}}</h1>
<form action="/buildData" method="get">
    <input style="border-radius: 6px; " type="submit" name="submitButton" id="submitButton"
           value="Submit"/>
</form>

{{> footer}}